apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
- ../../base

commonLabels:
  environment: dev

replicas:
- name: backend
  count: 1
- name: frontend
  count: 1

images:
- name: microservice-app-backend
  newTag: dev-latest
- name: microservice-app-frontend
  newTag: dev-latest
