apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
- ../../base

commonLabels:
  environment: staging

replicas:
- name: backend
  count: 2
- name: frontend
  count: 2

images:
- name: microservice-app-backend
  newTag: staging-latest
- name: microservice-app-frontend
  newTag: staging-latest

patchesStrategicMerge:
- resources.yaml
